{% extends "layout.html" %} 

{% block title %}
Tweet App - Main Page
{% endblock %}
{%load static %}
{% block content %}

<a class="btn btn-primary mb-4" href="{% url 'tweet_create' %}">Create a tweet</a>
<div class="container row gap-3">
    {% for tweet in tweets %}
    <div class="card" style="width: 18rem;">
        {% for photo in tweet.photos.all %}
        <img src="{{ photo.image.url }}" class="card-img-top" alt="Tweet image">
        {% empty %}
        <img src="{% static 'default.jpg' %}" class="card-img-top" alt="No image">
        {% endfor %}
        <div class="card-body">
            <h5 class="card-title">{{ tweet.user.username }}</h5>
            <p class="card-text">{{ tweet.content }}</p>
            {%if tweet.user == user%}
            <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
